#writepost{
  display: none;
}

body{
  background-color: rgba(0, 0, 0, 0.02) !important;
}

header{
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
}

.logo{
  border: none;
  background: none;
  font-size: 1.5rem;
  padding: 0.1rem;
  margin: none;
}

#posts_heading{
  text-align: center;
}

#posts_heading h2{
  margin-bottom: 0;
  font-size: 1.2rem !important;
}

.feed{
  margin: 5rem auto 0 auto;
  width: 80%;
  max-width: 500px;
}

.post{
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0.6rem;
  border-radius: 5px;
  padding: 0.6rem;
}

.post .date{
  font-size: 1rem;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

.post .text{
  margin: 0 0 0 0.2rem;
}

.button{
  width: auto;
}

#writepost{
  text-align: center;
  align-items: center;
  justify-content: center;
}

#writepost input{
  border: none;
  border-radius: 2px;
  transition: 0.3s all;
  outline-color: transparent;
  outline-style: none;
  width: 30%;
  max-width: 600px;
}

#writepost input:focus{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: none;
}

#writepost button{
  background: #4E77FF;
  color: white;
  border: none;
  border-radius: 50% !important;
  padding: 0.2rem;
  font-size: 0.8rem !important;
  width: 30px;
  height: 30px;
  margin: 0 1rem !important;
}
