input[type=text]{
  max-width: 500px !important;
  width: 80%;
}

.post-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -5px auto;
}

.comment .text{
  font-size: 1rem!important;
}

.comment .date{
  font-size: 0.8rem!important;
}

.comments{
  text-align: left;
  width: 100%;
}

.comment{
  display: block;
}

.commentform{
  width: 100%;
  margin: 0 auto;
  display: none;
  flex-direction: row;
}

.shareform{
  display: none;
  flex-wrap: wrap;
}

.top .text, .top .date{
  text-align: left;
}

.shareform .date{
  min-width: 200px;
}

.notification-title{
  margin-top: 1rem !important;
  color: #fc0f42;
  font-size: 1rem;
}

#ntoggle{
  font-size: 1rem !important;
}

.cheading{
  width: 100%;
}
