.content{
  margin-top: 6.5rem !important;
}

.heading{
  justify-content: baseline !important;
}

.heading h2, .heading p{
  text-align: left;
}

input[type=text]{
  max-width: 500px !important;
  width: 80%;
}

.outside{
  position: absolute;
  top: -100px;
}

.hover .post-buttons{
  opacity: 1;
}

.hover .post-buttons .forget{
  opacity: 1;
}

td{
  vertical-align: top;
  padding: 0.2rem;
}

.post-buttons{
  width: 100%;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.6rem auto;
  transition: 0.2s all;
}

.post-buttons .button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height:2.5rem;
  cursor: default;
}

.post-buttons .forget{
  opacity: 0;
}

.comment .text{
  font-size: 1rem!important;
}

.comment .date{
  font-size: 0.8rem!important;
}

#logincontent .arrow{
  color: white;
  cursor: default;
  font-size: 1.2rem;
}

.comments{
  text-align: left;
  width: 100%;
}

.comment{
  display: block;
}

.commentform{
  width: 100%;
  margin: 0 auto;
  display: none;
  flex-direction: row;
}

.shareform{
  width: 100%;
  display: none;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.shareform span, .shareform p{
  margin: auto 0.5rem;
}

.comment-button{
  width: 2.7rem !important;
}

.shareform, .commentform{
  margin-bottom: 1rem;
}

.top .text, .top .date{
  text-align: left;
}

.shareform .date{
  opacity: 1;
  min-width: 200px;
}

.self{
  font-weight: bold;
}

.notification-title{
  margin-top: 1rem !important;
  color: #4730c9;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

#ntoggle{
  font-size: 1rem !important;
}

.cheading{
  width: 100%;
}

.card .commentme, .card .share, .card .reactme{
  //color: rgba(0, 0, 0, 0.5) !important;
  margin: 0.5rem !important;
}

.reactview{
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin: 0.3rem 0.7rem 0.3rem 0rem;
  cursor: pointer;
}

.blankreaction{
  color: white;
}

.rdropdown{
  display: none;
  padding: 0.5rem;
  position: absolute;
  top: 7.5rem;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  z-index: 1000;
}

.roption{
  display: flex;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.15s all;
}

.roption:hover{
  opacity: 1;
}

.rdropdown p{
  margin: 0.2rem;
}

#r0:hover{
  color:#ff1975;
}

#r1:hover{
  color:#ffaa00;
}

#r2:hover{
  color:#0083ff;
}

#r3:hover{
  color:#a100ff;
}

#r4:hover{
  color:#ffbb00;
}

#r5:hover{
  color:#ff6100;
}

#r6:hover{
  color:#00d882;
}

#r7:hover{
  color:#d83200;
}

#r8:hover{
  color:#2b00d8;
}

#r9:hover{
  color:#00d85d;
}
.id, .post_id, .post_index{
  display: none;
}

.part1, .part2{
  display: table-cell;
}

#profpic{
  height: 100px;
  width: 100px;
  background: gray;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

#profpicwrap{
  width: 170px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ppsubmit{
  height: auto !important;
  padding: 0;
  cursor: pointer;
}

#ppinput{
  width: 130px !important;
}

#profpic{
  background-size: cover !important;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
}

#ppform{
  width: 400px;
  display: flex;
  margin: 0 auto 1rem auto;
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
}

#dateform{
  display: none;
}

#dateform, #writepost{
  margin-top: -1.5rem;
}

.monthbutton, .yearbutton{
  padding: 0;
  margin: 0.4rem 0 !important;
  cursor: pointer;
  color: #6d7687!important;
}

.monthbutton:hover, .yearbutton:hover{
  color: #3f7fff !important;
}


@media only screen and (max-width: 520px){

  .post-buttons .forget{
    opacity: 0.8;
  }

  #profpic{
    width: 110px;
    height: 110px;
  }

  .heading{
    display: block !important;
    margin-bottom: 2rem;
  }
  .heading h2, .heading p{
    text-align: center;
  }
  #profpicwrap{
    width: 100%;
  }
}

@media only screen and (max-width: 400px){

  .shareform select, .shareform input{
    width: 100%;
  }

  .shareform{
    align-items: baseline;
  }

  .part1, .part2{
    width: 100%;
  }

  .part1 p, .part2 p{
    width: 100%;
    text-align: left;
  }
}
