.card{
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px !important;
  margin: 0.5rem;
}

.friends{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.friendname{
  font-size: 1.3rem;
  margin: 0.3rem !important;
}

#addfriendcard{
  display: none;
}
