.card{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.friend{
  margin: 0.5rem;
  width: 100%;
  max-width: 400px;
}

.friends{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.friendname{
  font-size: 1.3rem;
  margin: 0.3rem !important;
}

.heading{
  margin-top: 6rem !important;
}

#newfriend{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

#addfriendcard{
  max-width: 400px;
  width: 100%;
  display: none;
}
