doctype html
html(lang="en")
  head
    title aSocial
    style
      include main.css
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header(style="padding: 10px")
      a(href="/" class="logo") aSocial
    div(class="content")
      p(style="text-align: center") Don't have an account yet?
        a(href="/signup") Register
      p Incorrect e-mail or password. Please try again.
      form(action="/login" method="post")
        input(type="text", name="user_email")
        br
        input(type="password", name="user_password")
        br
        input(type="submit" val="LOG IN")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
