doctype html
html(lang="en")
  head
    title aSocial
    style
      include main.css
  body
    h1
      a(href="/") aSocial
    p Don't have an account yet?
      a(href="/signup") Register
    p Incorrect e-mail or password. Please try again.
    form(action="/home" method="post")
      input(type="text", name="user_email")
      br
      input(type="password", name="user_password")
      br
      input(type="submit" val="Log in")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
