doctype html
html(lang="en")
  head
    title aSocial
    style
      include main.css
      include login.css
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body(id="bootstrap-overrides-login")
    header(style="padding: 10px")
      a(href="/" class="logo") aSocial
    div(class="content" id='logincontent')
      div(class='loginform')
        p(style="text-align: center") Don't have an account yet?
          a(href="/signup") Register
        form(action="/login" method="post")
          input(type="text", name="user_email" placeholder="e-mail")
          br
          input(type="password", name="user_password" placeholder="password")
          br
          input(type="submit" value="Log in" id='loginbutton')
      div(class='about')
        h2 A network where users don't interact with each other.
        p The users of aSocial are not able to see any content on other perople's profiles.
        p What happens when one is presented with the tools to craft an online identity, but the audience of such identity consists only of oneself?
          a(href="/about" style="font-weight:bold") Learn more
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
