#writepost{
  display: none;
}

body, #bootstrap-overrides{
  background-color: rgba(0,0,0,0.02);
}

header{
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  display: flex !important;
  flex-grow: row;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
}

header #gohome{
  padding-right: 1rem;
}

header #gofriends{
  margin-left: 0.6rem;
}

.heading{
  text-align: center;
}

.heading h2{
  margin-bottom: 0;
  font-size: 1.2rem !important;
}

.heading p{
  font-size: 1rem;
}

header .logo{
  color: black !important;
  border: none !important;
  border-radius: 1px !important;
  background: none !important;
  font-size: 1.5rem !important;
  padding: 0 !important;
  margin: none !important;
  transition: 0.1s all;
}

header .logo:hover{
  color: #4E77FF !important;
  background: white !important;
  text-decoration: none !important;
  background: none;
}

.nheader{
  align-items: center;
  justify-content: center;
  text-align: center;
}

h4{
  margin-top: 1rem !important;
  text-align: center;
}

#bootstrap-overrides a, #bootstrap-overrides button, #bootstrap-overrides .button, #bootstrap-overrides input, #bootstrap-overrides textarea, #bootstrap-overrides select{
  padding: 0.4rem 0.8rem;
  transition: 0.1s all;
  background: none;
  color: #4E77FF;
  margin: 5px;
  outline-color: transparent;
  outline-style: none;
}

#bootstrap-overrides .light{
  color: white !important;
}

#bootstrap-overrides .light:hover{
  background: white !important;
  color: #4E77FF !important;
}

#profilebutton, #friendsbutton, #logoutbutton, #aboutbutton{
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

a, button, .card .comment-button, .card #postbutton, .card .sharebutton, .button, input[type=submit]{
  background: transparent;
  border: none;
  border-radius: 5rem;
}

input[type=date], select{
  transition: 0s all !important;
  height: 2.2rem;
}

a:hover, button:hover, input:hover, input:focus, textarea:focus, .active-button, select:hover{
  cursor: pointer;
  background: #4E77FF !important;
  color: white !important;
  text-decoration: none !important;
}

textarea{
  width: 100%;
  transition: 0.1s all;
}

.content{
  margin: 5.5rem auto 0 auto;
  width: 95%;
  max-width: 500px;
  justify-content: center;
}

form{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card:hover{
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
  border: none;
}

.card{
  border: none !important;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 0.6rem 0.1rem;
  border-radius: 5px;
  padding: 0.8rem;
  transition: 0.1s all;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
}

input[type=text], select, textarea, input[type="date"], input[type=password], textarea:hover, input[type=text]:hover, input[type=password]:hover, select:hover{
  border: 1px solid #4E77FF !important;
  border-radius: 2px;
  box-shadow: none;
}

.card .date, .faded{
  font-size: 1rem;
  opacity: 0.4;
  padding: 0;
  margin: 0;
}

.ctitle{
  font-size: 1rem;
  opacity: 0.6;
  padding: 0;
  margin: 0 0 0.4rem 0;
}

.card .text{
  margin: 0;
  font-size: 1.2rem;
}

.card .top{
  min-width: 200px;
}

.id{
  display: none;
}

.hidden{
  display: none !important;
}

.text-left{
  width: 100%;
  text-align: left;
}

textarea, input, button, select { outline: none; }

input[type=text], input[type=password]{
  min-width: 250px;
}

.message{
  position: fixed;
  bottom: -3rem;
  text-align: center;
  display: flex;
  background: #4E77FF;
  color: white;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
  padding: 1rem;
}

.red{
  border-radius: 5rem !important;
  color: #ff3d3d!important;
}

.red:hover{
  background: #ff3d3d !important;
  color: white !important;
}

@media only screen and (max-width: 600px){
  .message{
    height: 4.5rem;
  }
}
