#writepost{
  display: none;
}

body, #bootstrap-overrides, #bootstrap-overrides-login{
  background-color: #fdfdfd;
  color: #6a6f82;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', sans-serif;
  font-size: 0.9rem;
}

#bootstrap-overrides h1, #bootstrap-overrides h2, #bootstrap-overrides h3, #bootstrap-overrides h4, #bootstrap-overrides h5, #bootstrap-overrides h6 {
  color: #3e4663;
}

header{
  /* box-shadow: 0 1px 1px rgba(37, 65, 94, 0.05); */
  border: 1px solid #e1e3e8;
  padding: 0.6rem;
  align-items: center;
  justify-content: center;
  display: flex !important;
  flex-grow: row;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
}

header #gohome{
  padding-right: 1rem;
}

header #gofriends{
  margin-left: 0.6rem;
}

.heading, .pg1, .pg2{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.block{
  display: block !important;
}

.heading h2{
  margin-bottom: 0;
  font-size: 1.2rem !important;
}

.heading p{
  font-size: 1rem;
}

header .logo{
  font-weight: 400;
  color: #414660 !important;
  border: none !important;
  border-radius: 1px !important;
  background: none !important;
  font-size: 1.5rem;
  padding: 0 !important;
  margin: none !important;
  transition: 0.2s all;
}

header .logo:hover{
  color: #4f8fff !important;
  background: none !important;
  text-decoration: none !important;
  background: none;
}

.nheader{
  display: flex;
  font-size: 1.2rem !important;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#ntoggle{
  margin-bottom: -0.2rem !important;
}

.nheader div{
  margin: 0 1rem;
  text-align: center;
}

h4{
  margin-top: 1rem !important;
  text-align: center;
}

#bootstrap-overrides a, #bootstrap-overrides button, #bootstrap-overrides .button, #bootstrap-overrides input, #bootstrap-overrides textarea, #bootstrap-overrides select{
  padding: 0.4rem 0.8rem;
  transition: 0.2s all;
  background: none;
  color: #007bff;
  margin: 5px;
  outline-color: transparent;
  outline-style: none;
}

#bootstrap-overrides .light{
  color: white !important;
}

#bootstrap-overrides .light:hover{
  background: white !important;
  color: #3f7fff !important;
}

#profilebutton, #friendsbutton, #logoutbutton, #aboutbutton, #newpost, #gotodate, .sharebutton, .comment-button, .removefriend{
  display: table-cell;
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
  text-align: center;
  vertical-align: middle;
  padding-top: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  cursor: pointer;
}

#newpost, #gotodate{
  display: inline-table;
  line-height: 0;
}

a:not(.arrow), button, .card .comment-button, .card #postbutton, .card .sharebutton, .button, input[type=submit]{
  background: transparent;
  border: none;
  border-radius: 5rem;
}

input[type=date], select{
  transition: 0s all !important;
  height: 2.2rem;
}

.small-label a{
  padding: 0.2rem !important;
  margin: auto 0.3rem !important;
}

a:not(.arrow):hover, button:hover, input[type=text]:hover, input[type=text]:focus, input[type=date]:hover, input[type=date]:focus, textarea:focus, .active-button, select:hover, .post-buttons .button:hover{
  cursor: default;
  background: #3f7fff !important;
  color: white !important;
  text-decoration: none !important;
}

a{
  cursor: pointer !important;
  padding: auto !important;
}

i{
  cursor: pointer;
}

textarea{
  width: 100%;
  transition: 0.2s all;
}

.content{
  margin: 5.5rem auto 0 auto;
  width: 95%;
  max-width: 570px;
  justify-content: center;
}

form{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card:hover{
  background:white!important;
  color: #3f4244;
  border-color: #b8bec6 !important;
}

.card{
  border: none !important;
  background: transparent !important;
  /* box-shadow: 0 1px 1px #eeedf2; */
  border: 1px solid #e1e3e8 !important;
  margin: 1rem 0.1rem;
  border-radius: 5px;
  padding: 0.8rem;
  transition: 0.2s all;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
}

input[type=text], select, textarea, input[type="date"], input[type=password], textarea:hover, input[type=text]:hover, input[type=password]:hover, select:hover{
  border: 1px solid #3f7fff !important;
  border-radius: 2px;
  box-shadow: none;
}

.card .date, .faded{
  font-size: 0.9rem;
  opacity: 0.6;
  padding: 0;
  margin: 0;
}

.ctitle{
  font-size: 1rem;
  opacity: 0.6;
  padding: 0;
  margin: 0 0 0.4rem 0;
}

.card .text{
  margin: 0;
  font-size: 1.2rem;
}

.card .top{
  min-width: 200px;
}

.id{
  display: none;
}

.hidden{
  display: none !important;
}

.text-left{
  width: 100%;
  text-align: left;
}

textarea, input, button, select { outline: none; }

input[type=text], input[type=password]{
  min-width: 250px;
}

.message{
  position: fixed;
  bottom: -3rem;
  text-align: center;
  display: flex;
  background: #3f7fff;
  color: white;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem rgba(37, 65, 94,0.1);
  padding: 1rem;
}

.small-label{
  font-size: 0.8rem !important;
  opacity: 0.8;
  margin: -1rem 0 0.4rem 0;
  padding: 0;
}

.red{
  border-radius: 5rem !important;
  color: #ff5e66 !important;
}

.red:hover, #logoutbutton:hover, #forget:hover{
  background: #ff5e5e !important;
  color: white !important;
}

.nohover:hover{
  color: #4730c9 !important;
  background: none !important;
}

.close{
  cursor: default;
  font-size: 1rem !important;
}

.big{
  font-size: 2rem !important;
}

.white{
  color: white;
}

.show{
  display: block;
}

@media only screen and (max-width: 600px){
  .message{
    height: 4.5rem;
  }
}
