doctype html
html(lang="en")
  head
    title Sign up | aSocial
    style
      include main.css
      include signup.css
      include login.css
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
  body(id="bootstrap-overrides-login")
    header(style="padding: 10px")
      a(href="/" class="logo") aSocial
    div(class="content")
      a(href="/") Back to login
      form(id="signupform" action = "/newprofile" method="post")
        p name
        input(type="text" name="user_name" id="name" autocomplete="off")
        br
        p e-mail address
        input(type="text" name="user_email" id="email" autocomplete="off")
        br
        p password
        input(type="password" name="user_password" id="password" autocomplete="off")
        br
        div(id="friendsform")
          h4 My friends
          p Who are your friends? Add them to your list, separated by commas.
          input(type="text" name="user_friends" autocomplete="off")
          p(class="small-label")
            br
            span The names you list here will not be linked to user profiles.
            br 
            span You are free to edit this list as your social relations change.
        input(type="submit" val="CREATE MY ACCOUNT")

      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="../js/profile.js")
