doctype html
html(lang="en")
  head
    title Sign up | aSocial
    style
      include main.css
  body
    h1
      a(href="/") aSocial
    a(href="/") Back to login
    form(id="signupform" method="post")
      p name
      input(type="text", id="name")
      br
      p e-mail address
      input(type="text", id="email")
      br
      p password
      input(type="password", id="password")
      br
      div(id="friendsform")
        h2 My friends
        p Who are your friends? Add them to your list.
        input(type="text", class="friend")
        br
      p(class="button" id="addfriend") Add a friend
      h2(id="submitform") Create my account

      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="../js/signup.js")
