doctype html
html(lang="en")
  head
    title Sign up | aSocial
    style
      include main.css
  body
    h1
      a(href="/") aSocial
    a(href="/") Back to login
    form(id="signupform" action = "/newprofile" method="post")
      p name
      input(type="text" name="user_name" id="name")
      br
      p e-mail address
      input(type="text" name="user_email" id="email")
      br
      p password
      input(type="password" name="user_password" id="password")
      br
      div(id="friendsform")
        h2 My friends
        p Who are your friends? Add them to your list, separated by commas.
        input(type="text" name="user_friends")
      input(type="submit" val="Create my account")

      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="../js/signup.js")
      script(src="../js/profile.js")
