doctype html
html(lang="en")
  head
    title aSocial
  body  
    h1 aSocial
    form(action="/secret", method="post")  
      input(type="password", name="secret")
      input(type="submit", value="Show me!")
